.hero {
  position: relative;
  top: 50px;
  height: 500px;

  background-size: cover;
  background-position: center;
  background-image: url("https://www.shutterstock.com/blog/wp-content/uploads/sites/5/2017/08/featured-geometric.png");

  z-index: -1;
}

.hero h2, .hero h4 {
  
  color: #ffe341;
  font-family: Arial, Helvetica, sans-serif;

}

.hero h2 {
  position: absolute;
  top: 200px;
  margin-left: 40%;
  font-size: 60px;
  

}

.hero h4 {
  position: absolute;
  top: 300px;
  margin-left: 25%;
  font-size: 30px;

}