  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: darkslateblue;
    color: whitesmoke;
    z-index: 5
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 24px;
  }