
.wrapper {
    position:relative;
    top:100px;
    margin: 10px auto;
    width: 80%;
    
}

.cards-layout {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.item {
    width: 300px;
    margin: 10px;
}

.image {
    width: 240px;
    height: 240px;
    margin: 0 
}

#Minions {
    background-image: url('../../assets/images/Minions.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
}

#Smurfs {
    background-image: url('../../assets/images/Smurfs.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
}

#SuperMareo {
    background-image: url('../../assets/images/Super_mareo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
}
#Spongebob_Squarepants {
    background-image: url('../../assets/images/Spongebob_Squarepants.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
}
#SpongeBob_Transparent {
    background-image: url('../../assets/images/SpongeBob_Transparent.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
}
#Pikachu {
    background-image: url('../../assets/images/Pikachu.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
}
#Sally_Brown {
    background-image: url('../../assets/images/Sally_Brown.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
}
#MarieCat {
    background-image: url('../../assets/images/MarieCat.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
}

#Simpson {
    background-image: url('../../assets/images/Simpson.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
}
