.hero {
    height: 500px;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  .hero::after {
    content: "";
    display: block;
    opacity: .4;
    position: absolute;
    top: 100px;
    left: 0;
    background: black;
  }