.hero {
  height: 500px;
  background-size: cover;
  background-position: center;
  background-image: url("https://thejesterscorner.files.wordpress.com/2013/03/best-top-desktop-abstract-pattern-wallpapers-hd-wallpaper-pattern-pictures-and-images-551.jpg");
  position: relative;
  top: 100px;
  text-align: center;
  z-index: -1;
}


.hero * {
  position: absolute;
  text-align: center;
  z-index: 2;
}

.hero h2, .hero h4 {
  color: white;
}

.hero h2 {
  font-size: 60px;
  padding-top: 140px;
  margin-top: 0;
}

.hero h4 {
  font-size: 30px;
  padding-top: 200px;
  margin-top: 0;
}